<h1>
  Customers Listing</h1>

<div class="table-responsive">
  <table datatable class="row-border hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cust of customers; let i= index">
        <td>{{cust.name}}</td>
        <td>{{cust.status}}</td>
        <td>
          <a [routerLink]="['detail', i]" title="View Details of {{cust.name}}">
            <i class="glyphicon glyphicon-eye-open"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>