<div class="container">
  <div class="row">
    <div class="col-md-6">
      <form [formGroup]="loginForm" method="post" id="loginForm" role="form" (ngSubmit)="login()">
        <div class="form-group">
          <label for="email">
            <span class="req">* </span> Email Address: </label>
          <input class="form-control" type="text" formControlName="email" id="email" placeholder="Email" />
          <span *ngIf="!loginForm.get('email').valid && loginForm.get('email').touched" class="help-block">Valid email is required</span>
        </div>

        <div class="form-group">
          <label for="password">
            <span class="req">* </span> Password: </label>
          <input formControlName="password" type="password" class="form-control inputpass" id="pass1" placeholder="Password" />
          <span *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched" class="help-block">Password is required</span>
        </div>

        <div class="form-group">
          <input class="btn btn-success" type="submit" name="submit_reg" value="Login" [disabled]="!loginForm.valid">
        </div>
      </form>
    </div>
  </div>
</div>