<div style="width:100%">
  <div style="width:48%;float:left;">
    <div #pieChartContainer></div>
  </div>
  <div style="width:48%;float:left;">
    <div #lineChartContainer></div>
  </div>
</div>

<div style="width:100%">
  <div style="width:100%;">
    <div #barChartContainer></div>
  </div>
</div>
<div style="width:100%">
  <div style="width:100%;">
    <div #logChartContainer></div>
  </div>
</div>