<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
        </div>
        <ul class="nav navbar-nav">
            <li routerLinkActive="active">
                <a routerLink="/customers">Customers</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="/charts">Charts</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="/employees">Employees</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="/forms">Forms</a>
            </li>
            <li *ngIf="!isLoggedIn" routerLinkActive="active">
                <a routerLink="/login">Login</a>
            </li>
            <li *ngIf="isLoggedIn">
                <a (click)="logout()" style="cursor:pointer">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<router-outlet></router-outlet>