<div class="container">
  <div class="row">
    <div class="col-md-6">
      <form [formGroup]="capitalApplicantform" method="post" id="fileForm" role="form" (ngSubmit)="addCapitalApplicant()">
        <fieldset>
          <legend class="text-center">Valid information is required to register.
            <span class="req">
              <small> required *</small>
            </span>
          </legend> 

          <div formGroupName="name">
            <div class="form-group">
              <label for="firstname">
                <span class="req">*</span> First name: </label>
              <input class="form-control" type="text" formControlName="firstName" id="txt" placeholder="First Name" />
              <span *ngIf="!capitalApplicantform.get('name.firstName').valid && capitalApplicantform.get('name.firstName').touched" class="help-block">First Name is required</span>
            </div>

            <div class="form-group">
              <label for="lastname">
                <span class="req">* </span> Last name: </label>
              <input class="form-control" type="text" id="txt" formControlName="lastName" placeholder="Last Name" />
              <div id="errLast"></div>
              <span *ngIf="!capitalApplicantform.get('name.lastName').valid && capitalApplicantform.get('name.lastName').touched" class="help-block">Last Name is required</span>
            </div>
          </div>

          <div class="form-group">
            <label for="phonenumber">
              <span class="req">* </span> Phone Number: </label>
            <input type="text" formControlName="phone" id="phone" class="form-control phone" maxlength="28" placeholder="Phone Number"
            />
            <span *ngIf="!capitalApplicantform.get('phone').valid && capitalApplicantform.get('phone').touched" class="help-block">Valid phone is required</span>
          </div>

          <div class="form-group">
            <label for="email">
              <span class="req">* </span> Email Address: </label>
            <input class="form-control" type="text" formControlName="email" id="email" placeholder="Email" />
            <span *ngIf="!capitalApplicantform.get('email').valid && capitalApplicantform.get('email').touched" class="help-block">Valid email is required</span>
          </div>

          <div class="form-group">
            <label for="username">
              <span class="req">* </span> User name:
              <small>This will be your login user name</small>
            </label>
            <input class="form-control" type="text" formControlName="username" id="txt" placeholder="minimum 6 letters" />
            <span *ngIf="!capitalApplicantform.get('username').valid && capitalApplicantform.get('username').touched" class="help-block">Username is required</span>
            <div id="errLast"></div>
          </div>

          <div class="form-group">
            <label for="password">
              <span class="req">* </span> Password: </label>
            <input formControlName="password" type="password" class="form-control inputpass" id="pass1" placeholder="Password" />
            <span *ngIf="!capitalApplicantform.get('password').valid && capitalApplicantform.get('password').touched" class="help-block">Password is required</span>

            <label for="password">
              <span class="req">* </span> Password Confirm: </label>
            <input formControlName="cnfrmPassword" type="password" class="form-control inputpass" placeholder="Confirm Password" id="pass2"
            />
            <span *ngIf="!capitalApplicantform.get('cnfrmPassword').valid && capitalApplicantform.get('cnfrmPassword').touched" class="help-block">Confirm Password is required</span>
          </div>

          <div class="form-group">
            <input class="btn btn-success" type="submit" name="submit_reg" value="Register" [disabled]="!capitalApplicantform.valid">
          </div>
          <h5>You will receive an email to complete the registration and validation process. </h5>
        </fieldset>
      </form>
      <!-- ends register form -->
    </div>
  </div>